<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liu.dao.CommunityNoticeMapper" >
  <resultMap id="BaseResultMap" type="com.liu.model.CommunityNotice" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="community_info_id" property="communityInfoId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.liu.model.CommunityNotice" >
    insert into community_notice (id, community_info_id, content, 
      create_time, update_time, creater
      )
    values (#{id,jdbcType=VARCHAR}, #{communityInfoId,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="save" parameterType="com.liu.model.CommunityNotice" >
    insert into community_notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="communityInfoId != null" >
        community_info_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="creater != null" >
        creater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      UUID(),
      <if test="communityInfoId != null" >
        #{communityInfoId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="edit" parameterType="com.liu.model.BookType" >
    update community_notice
    <set >
      <if test="communityInfoId != null" >
        #{communityInfoId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from community_notice
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <select id="findById" parameterType="java.lang.String">
    select
    *
    from community_notice where id=#{id,jdbcType=VARCHAR}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    *
    from community_notice
  </select>
</mapper>